.left-block {
  margin: 0 0 32px;
  padding: 0 16px;
  border-right: 0.2rem solid #5997d1;
}
.right-block {
  padding: 0 16px;
  margin: 0 0 32px;
}
.profile-caption .heading-underline {
  width: 10rem;
  margin: 1rem auto 1rem;
}
.avatar {
  width: 100%;
  border-radius: 50%;
  padding: 15px;
}
.fullname {
  font-weight: 700;
  font-size: 20px;
}
.profile-panel {
  width: 100%;
}
.nav-tabs a {
  color: #1e3357;
}
.tab-content p {
  margin: 0;
}
div.tab-content {
  margin: 10px;
}
div.info-row {
  border-bottom: 1px solid gray;
}
div.info-title,
div.info-value {
  padding: 5px 8px 5px;
}
.info-title p {
  font-weight: 700;
}
.col-md-3, .col-md-1 {
  padding: 2px;
}
@media (max-width: 767px) {
  .left-block {
    border-right: 0px;
    border-bottom: 0.2rem solid #5997d1;
  }
}
