* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/signup_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.sign-up h1 {
  font-size: 40px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-area {
  background: #1e3357a8;
  margin-top: 90px;
}

/* .col-md-5 {
  background: #1e3357a8;
  margin-top: 100px;
}
.label {
  font-size: 16px;
  font-weight: normal;
  color: white;
  padding-left: 6px;
}
.pic {
  color: #5997d1;
}
.input-group {
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-control {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #5997d1;
  font-size: 14px;
  color: #5997d1;
  padding: 5px;
}
input[type="checkbox"]{
  height: 12px;
  width: 12px;
}
.remember{
  padding-left: 3px;
  font-size: 15px;
  color:white;
}
.forgot{
  font-size: 15px;
  color:white;
}
.btn-default{
  border-radius: 0;
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #5997d1;  
} */
