* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/signup_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.sign-up h1 {
  font-size: 50px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.col-md-5 {

  background: #1e3357a8;
  margin-top: 100px;
}

.label {
  margin-top: 5px;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

.pic {
  color: #5997d1;
}
