.signup .heading {
  margin: 20px;
}
.error-text {
  color: #e61414;
}
div.reg-row {
  border-bottom: 1px solid #cccccc;
}
div.reg-title,
div.reg-value {
  padding: 5px 8px 5px;
}
.col-md-2 {
  padding: 0;
}
div.signup {
  padding-bottom: 40px;
}
div.reg-buttons {
  border-bottom: 0px;
  margin-top: 10px;
}
div.reg-buttons .reg-value {
  text-align: right;
}

