* {
  margin: 0;
  padding: 0;
}
body {
  /* background-image: url(../img/signup_bg.jpg); */
  background-color: #cee4eb;
  background-attachment: fixed;
  background-size: cover;
}
.sign-up h1 {
  font-size: 40px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sign-up .label {
  color: white;
  font-size: 16px;
  padding-left: 5px;
}
.no-account {
  font-size: 16px;
  color: white;
}
.sign-up a {
  font-size: 16px;
  color: #5997d1;
}
.forgot {
  color: #5997d1;
  font-size: 16px;
}
.form-area {
  background: #1e3357a8;
  margin-top: 90px;
}
.btn-default {
  background-color: #5997d1;
  color: white;
  border-radius: 0px;
  width: 100%;
  font-size: 18px;
  margin-top: 5px;
}
.form-control {
  background: white;
  border-radius: 0;
  border: 1px solid #5997d1;
  padding: 15px;
}
.sign-up .btn-lg {
  border-width: medium;
  border-radius: 0;
  width: 100%;
  text-shadow: 0.1rem 0.1rem 0.2rem #1e335794;
  font-weight: 700;
  padding: 0.6rem 1.3rem;
  font-size: 1.1rem;
  color: white;
}
.sign-up .btn-lg:hover {
  color: #1e3357;
}
