section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.test {
  background-color: #a4cffa;
}
.wrapper {
  position: relative;
  overflow-x: hidden;
}
.answer-bar {
  padding-top: 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 170px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1e3357;
  color: white;
  transform: translateX(100%);
  transition: 0.5s;
}
.answer-bar_active {
  transform: translateX(0);
}
.btn-secondary {
  padding: 7.2px 14.4px;
  margin: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 30px;
  left: -130px;
}
.answer-bar-btn a {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.content {
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}
.content_active {
  transform: translateX(-170px);
}

